.customNode {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 100000;
}

.functionNode {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.functionNode::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  height: 5px;
  width: 5px;
  transform: translate(-50%, 0);
  background: #f9f9f9;
  border: 2px solid #222138;
  z-index: 0;
  line-height: 1;
  color: #fff;
  font-size: 5px;
}

.customNodeBody {
  overflow: hidden;
  width: 160px;
  height: 50px;
  border: 2px solid rgb(57, 57, 57);
  position: relative;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  z-index: 500;
}

.endpointNodeBody {
  overflow: hidden;
  width: 160px;
  height: 50px;
  border: 2px solid rgb(57, 57, 57);
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.customHandle {
  width: 10px ;
  height: 10px ;
  background: black ;
  border: none ;
  opacity: 1 ;
}